:root {
  --section-padding: 5rem 0;
  --section-header-padding: 0 0 3rem;
  --section-body-padding: 0 0 3rem;
  --section-footer-padding: 3rem 0 0;
  --section-footer-align: center;
  --footer-padding: 5rem 0 1rem;
}

/* Just before the section-header declaration */
.section {
  padding: var(--section-padding);
}

/* Section header */
.section-header {
  padding: var(--section-header-padding);
}

/* Section body */
.section-body {
  padding: var(--section-body-padding);
}

/* Section footer */
.section-footer {
  padding: var(--section-footer-padding);
  text-align: var(--section-footer-align);
}

/* Footer */
.footer {
  padding: var(--footer-padding);
}
