/* Define CSS variables */
:root {
  --color-primary: #d73953;
  --color-black: #090909;
  --color-white: #ffffff;
  --color-light-grey: #f3f3f3;
  --color-dark-grey: #353535;
  --text-color: var(--color-black);
}

/* Set foreground color for body */
body {
  color: var(--text-color);
}

/* Set foreground color for all anchor elements */
a {
  color: var(--text-color);
}

/* Hide all elements with class .visually-hidden */
.visually-hidden {
  display: none;
}

/* Set foreground color for elements with class .card-category */
.card-category {
  color: var(--color-primary);
}

/* Set foreground color for elements with class .section-tagline */
.section-tagline {
  color: var(--color-primary);
}
